.content-container  {
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  padding-bottom: 5vw;

  form {
    min-width: 400px;
    @include media-breakpoint-down(md) {
      min-width: 30vw;
    }
  }
}

.theader-container {
  margin-top: 30px;
  @include media-breakpoint-down(md) {
    .col-md {
      margin-bottom : 15px;
    }
  }
}